#navbar_landing{
    width:100%;
    height:6.5vh;
    background-color: black;
    justify-content: space-between;
    padding-left:40px;
    padding-right: 40px;
    align-items: center;
    
}
.landing_navbar_button{
    border:0.5px solid white;
    color:white;
    font-size: 13px;
    background-color: black;
    border-radius:5px;
    /* margin:7px; */
    margin-left: 10px;
  
  
    
}
.landing_navbar_logo{
    width:4%;
    height:90%;
    /* border:3px solid green; */
    /* margin:5px; */
   
}
.icon_size_user{
    color:white;
}
.landing_navbar_logo img{
    width:80px;
    height:100%;
}
.Ted_Lasso{
    
    background-image: url("https://is5-ssl.mzstatic.com/image/thumb/Features114/v4/1c/30/cc/1c30cc8f-0ead-1bdf-e01d-c6d0de6f892a/Q1NILVRWQS1XVy1BVFZfUGx1cy1UZWRfTGFzc28ucG5n.png/1679x945sr.jpg");
    width:100%;
  height:950px;
  justify-content: center;
  text-align: center;
  font-family: 'Readex Pro', sans-serif;
  z-index: -1;
  position: absolute;
 
 
}
.Ted_Lasso_text{
    margin-top: 37%;
    color:white;
}
.Ted_Lasso_heading{
    font-size: 100px;
}
.Ted_Lasso_button{
    width:200px;
    height:45px;
    border-radius:10px;
    margin-top: 20px;
    color:rgb(22, 22, 22);
    background-color: whitesmoke;
   font-weight: 300;
   cursor:pointer ;
   
}
.margin_top{
    margin-top: -15px;
 
}
.grey_text{
    color:grey;
    font-size: 12px;
}
.terms_cond{
    text-decoration: none;
}
.terms_cond:hover{
    text-decoration: underline;
}
.Ted_Lasso_text_Exclusively{
    margin-top: -15px;
}
/* //signin page hidden */
.icon_size_cross{
    font-size: 30px;
    color:rgba(219, 212, 212, 0.986);
    margin:20px;
   
   
}
.signin_box_hidden{
    /* background-color: yellow; */
    width:50%;
    height:70vh;
    /* border:3px solid red; */
    background-color: white;
    margin:auto;
    margin-top:5%;
    border-radius: 10px;
    z-index: +1;
    position: absolute;
    margin-left: 25%;
    border-top: 10px;
    overflow:hidden;
    
}
/* //signin page container */
.signin_container{
    /* border:1px solid black;
    display:flex; */
    text-align: center;
  

    
    
}
.text-size{
    font-size: 23px;
    color:rgb(68, 66, 66);
}
.icon_size_apple{
    font-size: 65px;
    color:rgb(139, 134, 134);
    margin-bottom:30px;
}
.appleID_input{
    width:400px;
    background-color: white;
  border-radius: 10px;
  border:none;
  margin:auto;
  height: 50px;
  margin-top: 40px;
}
.icon_size_arrow{
    font-size: 30px;
    color:rgb(139, 134, 134);
}
.appleID_input_arrow{
    border:none;
    height: 50px;
}
.margin_signin_container_links_1{
margin-top: 100px;
/* margin-bottom:10px; */

}
.margin_signin_container_links_2{
margin-top: -10px;
}
.margin_signin_container_links_1 a ,.margin_signin_container_links_2 a{
    text-decoration: none;
}
.margin_signin_container_links_1 a:hover, .margin_signin_container_links_2 a:hover{
text-decoration: underline;
}
.hidden{
    display: none;
}
.cross_button_1{
    border:none;
    background-color: white;
}
.cross_button_2{
    border:none;
    background-color: white;
}
.cross_button_3{
    border:none;
    background-color: white;
}
.cross_button_4{
    border:none;
    background-color: white;
}
/* //div having terms and condition */
.image_apple img{
    width:50px;
height:50px;
}
.person_agreement{
font-size: 30px;
color:rgb(18, 112, 189);
margin-top:30px;
}
.signin_termscondition{
 
  width:50%;
  height:70vh;
  
 background-color: white;
  margin:auto;
  margin-top:5%;
  border-radius: 10px;
  border-top: 10px;
  z-index: +1;
  position: absolute;
  margin-left: 25%;
  border-top: 10px;
  overflow:hidden;
}
.sigin_terms_container{
    text-align: center;
    /* border:2px solid black; */
  
}
.Continue_btn{
width:400px;
height:50px;
border-radius: 10px;
margin-top: 20px;
font-size: 20px;
}
/* //input form */

.sigin_form{
  width:50%;
  overflow-y:scroll;
  height:70vh;
 background-color: white;
  margin:auto;
  margin-top:5%;
  border-radius: 10px;
  z-index: +1;
  position: absolute;
  margin-left: 25%; 

  padding-bottom:30px;
}
.sigin_form_container{
    /* text-align: center; */
    margin-left: 20%;
  
}
.input_width{
    width:500px;
    height:50px;
    border-radius:10px;
    border:0.5px solid rgb(184, 176, 176);
    padding-left:10px;
}
#create_AppleId{
   margin-left: 20%;
}
/* //verification of email address */
.email_verification{
    width:50%;
    height:70vh;
    background-color: white;
    margin:auto;
    margin-top:5%;
    border-radius: 10px;
    border-top: 10px;
    overflow:hidden;
    z-index: +1;
    position: absolute;
    margin-left: 25%;
    border-top: 10px;
}
.email_verification_container{
    text-align: center;
    line-height: 70px;
}
.email_verification_container a{
    font-size: 20px;
    text-decoration: none;
}
.verification_button{
    margin-top: 20%;
    margin-left: 76%;
}
#logged_user{
    padding:2px;
}

/* ================================others page of landig part================================================================================================================================================= */
.other_part_of_landingPage{
    margin-top: 960px;;
min-height:300px;
/* background-color: #2D2D2D; */
/* border:4px solid green; */
    
}
/* 
===============================ravi landing page of latest originals========================================= */
.Latest_originals{
    width: 204px;
height: 115px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


   }
   .latest_originals_slider_content_details{
    width: 184px;
    height: 83px;
    margin-left: 10px;
    margin-top: 15px;
    color: rgb(87, 85, 85);
   }
   .Latest_originals_slider_style{
     /* padding: 10px; */
      width: 95%;
      margin-left: 36px;
      height: auto;
        display: flex;
      /* border:4px solid red; */

      
   }
   /* *{
    background-color: #2D2D2D;
   } */
   .Latest_originals_heading{
     color:#2D2D2D;
     margin-left: 30px;
     padding-top: 10px;
     font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
     font-size: 17px;
     line-height: 20.91px;
     font-weight:600;
   }
  
.latest_originals_slider_content_details>div:nth-child(1){
font-size: 11px;
line-height: 13.09px;
color:grey;
}
.latest_originals_slider_content_details>div:nth-child(2){
font-size: 15px;
line-height: 22.05px;
color:black;
font-weight: 600;
}
.latest_originals_slider_content_details>p{
font-size: 12px;
line-height: 16.08px;
color:grey;
}
.Latest_originals_main{
width: 100%;
min-height: 200px;
background-color: whitesmoke;
/* border:5px solid white; */

}
.Latest_originals{
    width:250px;
    height:89%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

   /* ===================================watch entire season===================================================
   ---------------------------------------------------------------------------------------------------- */
   .Watch_Enitre_Seasons{
    width: 250px;
    border-radius:10px;
  

}
.Watch_Enitre_Seasons_slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 28px;
   /* border:3px solid red; */
   display:flex;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Watch_Enitre_Seasons_heading{
  color:#2D2D2D;
  margin-left: 28px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight:600;
  line-height: 20.91px;
}
.Watch_Enitre_Seasons_main{
  width: 100%;
  min-height: 203px;
  background-color:whitesmoke;
}
.Latest_originals_images{
    display:flex;
    /* border:3px solid yellow; */
    margin-right:40px;

min-height: 200px;

  
   
   }
   .Watch_Enitre_Seasons_images{
       margin:18px;
       /* border:3px solid yellow; */
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
/* 
   ==========================ramesh part immerse============================================================================================================================== */

 
.apple_exordinary_background_video_div{
    position: relative;
    /* border: 1px solid black; */
    /* background-color: black; */
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color:white;
    padding: 20px;
    /* padding-top: 450px; */
}
.apple_exordinary_background_video_div h5,h3{
    z-index: 1;
    
    /* margin-left: 50px; */
}
.apple_exordinary_background_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.apple_exordinary_background_subhead{
    /* border: 1px solid blue; */
    z-index: 1;
    flex: 1;
}
.apple_exordinary_background_video_sub{
    flex: 3;
}

.apple_exordinary_background_subadd{
    /* border: 1px solid red; */
    /* margin-left: 40px; */
    flex: 1;
color:white;
    width: 95%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 10px; */
    bottom: 0;
    /* overflow: scroll; */
    /* margin-bottom: 0vh; */


}
.apple_exordinary_background_subadd>div{
    /* border: 1px solid white; */
    margin: 10px;
    /* width: 20%; */
    /* height: 100px; */
    border-radius: 5px;
}
.apple_exordinary_background_subadd>div>img{
    width: 100%;

    border-radius: 5px;
}


.largest_slide_show{
    border: 30px solid whitesmoke;
    margin: auto;
    /* border-radius: 20px;
    overflow: hidden; */
}
.largest_slide_show img{
    width: 100%;
    border-radius: 20px;
}
.largest_slide_show {
background-color: whitesmoke;
}

/* ========================================================coming soon======================================================================================================================================= */
.Coming_Soon{
    width: 302px;
    height: 178px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.Coming_Soon_slider{
  padding: -15px;
   width: 95%;
   margin-left: 30px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Coming_Soon_heading{
 color: #2D2D2D;
  margin-left: 30px;
  padding-top: 5px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.91px;
}
.Coming_Soon_para{
    font-size: 15px;
    color: rgb(92, 88, 88);
    line-height: 22.05px;
    margin-left: 30px;
    font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}
.Coming_Soon_main{
  width: 100%;
  height: 261px;
  background-color: whitesmoke;
}
/* ==========================Eerie tales========================================================================================================== */
.Erie_Tales{
    width: 250px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.Erie_Tales_slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Erie_Tales_heading{
 color:#2D2D2D;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.91px;
}
.Erie_Tales_main{
  width: 100%;
  height: 203px;
  background-color: whitesmoke;
}
/* 
===================================================stories around the globe================================================================================================================================== */
.Stories_From_Around_The_Globe{
    width: 250px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.Stories_From_Around_The_Globe_slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Stories_From_Around_The_Globe_heading{
  color:#2D2D2D;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.91px;
}
.Stories_From_Around_The_Globe_main{
  width: 100%;
  height: 203px;
  background-color: whitesmoke;
}
/* ================================finding their voice==================================================================================================== */
.Finding_Their_Voice{
    width: 250px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.Finding_Their_Voice_slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Finding_Their_Voice_heading{
  color:#2D2D2D;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.91px;
}
.Finding_Their_Voice_main{
  width: 100%;
  height: 203px;
  background-color:whitesmoke;
}
/* ===================-=================================extraordinaruy people=========================================================================== */
.Extraordinary_People{
    width: 204px;
height: 115px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


   }
   .Extraordinary_People_slider_content_details{
    width: 184px;
    height: 83px;
    margin-left: 10px;
    margin-top: 15px;
    color: rgb(192, 192, 192);
  
   }
   .Extraordinary_People_slider{
     /* padding: 10px; */
      width: 90%;
      margin-left: 50px;
      
   }
   /* *{
    background-color: #2D2D2D;
   } */
   .Extraordinary_People_heading{
     color: #2D2D2D;
     margin-left: 50px;
     padding-top: 10px;
     font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
     font-size: 17px;
     line-height: 20.91px;
     font-weight: 600;
   }
   #Extraordinary_People_images{
    display: flex;
   }
.Extraordinary_People_slider_content_details>div:nth-child(1){
font-size: 11px;
line-height: 13.09px;
color: grey;
}
.Extraordinary_People_slider_content_details>div:nth-child(2){
font-size: 15px;
line-height: 22.05px;
color:black;
font-weight: 600;
}
.Extraordinary_People_slider_content_details>p{
font-size: 12px;
line-height: 16.08px;
color: grey;
}
.Extraordinary_People_main{
width: 100%;
height: 185px;
/* background-color: #2D2D2D; */
background-color: whitesmoke;
}
/* ===============================creatures and crittles======================================================================================= */
.Creatures_critters{
    width: 250px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.Creatures_critters_slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Creatures_critters_heading{
  color:#2D2D2D;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-family: #2D2D2D;
  font-weight: 600;
  line-height: 20.91px;
}
.Creatures_critters_main{
  width: 100%;
  height: 203px;
  background-color: whitesmoke}
/* }
=========================================all drama series================================================================================== */
.All_Drama_Serires{
    width: 250px;
    border-radius:10px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.All_Drama_Serires_slider{
  /* padding: 10px; */
  width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.All_Drama_Serires_heading{
 color: #2D2D2D;
 font-weight: 600;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20.91px;
}
.All_Drama_Serires_main{
 width: 100%;
 height: 203px;
 background-color: whitesmoke;
}
/* =====================================all feature film============================================================================================= */
.All_Features_Flims{
    width: 250px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.All_Features_Flims_slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.All_Features_Flims_heading{
  color:#2D2D2D;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.91px;
}
.All_Features_Flims_main{
 width: 100%;
 height: 203px;
 background-color: whitesmoke;
}
/* ======================================all comedy series=================================================================================== */
.All_Comdey_Series_{
    width: 250px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.All_Comdey_Series__slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.All_Comdey_Series__heading{
  color: #2D2D2D;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.91px;
}
.All_Comdey_Series_main{
  width: 100%;
  height: 203px;
  background-color:whitesmoke;
}
/* ==========================our amazing planet===================================================================================================== */
.Our_Amazing_Planet{
    width: 302px;
    height: 178px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.Our_Amazing_Planet_slider{
 padding: -15px;
   width: 95%;
   margin-left: 30px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Our_Amazing_Planet_heading{
  color:#2D2D2D;
  margin-left: 30px;
  padding-top: 5px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20.91px;
}
.Our_Amazing_Planet_para{
    font-size: 15px;
    color: rgb(172, 171, 171);
    line-height: 22.05px;
    margin-left: 30px;
    font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}
.Our_Amazing_Planet_main{
 width: 100%;
  height: 261px;
  background-color:whitesmoke;
}
/* =================================all nonfiction series========================================================================================== */
.All_Nonfiction_Series{
    width: 250px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.All_Nonfiction_Series_slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.All_Nonfiction_Series_heading{
  color: #2D2D2D;
  font-weight: 600;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20.91px;
}
.All_Nonfiction_Series_main{
 width: 100%;
 height: 203px;
 background-color:whitesmoke;
}
/* ===================================kids and family==================================================================================================== */
.Kids_And_Family{
    width: 302px;
    height: 178px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/* border:3px solid red; */
/* margin-left:-10px; */
}
.Kids_And_Family_slider{
 padding: -15px;
   width: 95%;
   margin-left: 30px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Kids_And_Family_heading{
 color: #2D2D2D;
  margin-left: 30px;
  padding-top: 5px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.91px;
}
.Kids_And_Family_para{
 font-size: 15px;
    color: rgb(87, 85, 85);
    line-height: 22.05px;
    margin-left: 30px;
    font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}
.Kids_And_Family_main{
 width: 100%;
  height: 261px;
  background-color: whitesmoke;
}
/* ====================================fun for all============================================================================================= */
.Fun_For_All{
    width: 237px;
    height: 141px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.Fun_For_All_slider{
  /* padding: 10px; */
   width: 95%;
   margin-left: 35px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Fun_For_All_heading{
  color: #2D2D2D;
  font-weight: 600;
  margin-left: 35px;
  padding-top: 10px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20.91px;
  opacity: 92.0%;
}
.Fun_For_All_main{
 width: 100%;
 height: 203px;
 background-color: whitesmoke;
}
/* ===========================inspiration for all============================================================================================= */
.Inspiration{
    width: 302px;
    height: 178px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.Inspiration_slider{
 padding: -15px;
   width: 95%;
   margin-left: 30px;
   
}
/* *{
 background-color: #2D2D2D;
} */
.Inspiration_heading{
  color: #2D2D2D;
  font-weight: 600;
  margin-left: 30px;
  padding-top: 5px;
  font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20.91px;
}
.Inspiration_para{
    font-size: 15px;
    color: rgb(87, 85, 85);
    line-height: 22.05px;
    margin-left: 30px;
    font-family:apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}
.Inspiration_main{
  width: 100%;
  height: 261px;
  background-color:whitesmoke;
}
/* =========================================footerLanding page part=============================================================================== */

/* ==================================universal selector============================================================================ */
*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}